*
!Dockerfile
!Dockerfile.prebuilt
!server.mjs
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!public/
!public/**
!scripts/
!scripts/node/
!scripts/node/**
!bin/
!bin/linux-x86_64/
!bin/linux-x86_64/mlkem-cli
!engine/
!engine/Cargo.toml
!engine/Cargo.lock
!engine/src/
!engine/src/**
